<div class="historical-figure-container">
  <h1><%= @historical_figure.name %></h1>
  <p><%= @historical_figure.bio %></p>
  <%= image_tag @historical_figure.image_url, alt: @historical_figure.name, class: 'main-figure-image' %>
</div>

<div class="figure-details">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% Race.car_types.keys.each_with_index do |car_type, index| %>
        <div class="carousel-item <%= 'active' if index.zero? %>">
          <h3><%= car_type.titleize %></h3>
          <%= image_tag "#{car_type}.jpg", alt: car_type.titleize %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="car-selection">
    <%= simple_form_for [@historical_figure, @race], local: true do |form| %>
      <%= form.input :car_type, collection: Race.car_types.keys.map { |car_type| [car_type.titleize, car_type] }, label_method: :first, value_method: :second, input_html: { class: 'dropdown' } %>
      <%= form.input :location_enum, collection: Race.location_enums.keys.map { |location_enum| [location_enum.titleize, location_enum] }, label_method: :first, value_method: :second, input_html: { class: 'dropdown' } %>
      <%= form.input :location,
            input_html: {data: {location_autocomplete_target: "location"}, class: "d-none mapboxgl-ctrl-geocoder"},
            wrapper_html: {data: {controller: "location-autocomplete",
            location_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
          %>
      <%= form.button :submit, "Confirm Selection" %>
    <% end %>
  </div>
</div>
