<div class="historical-figure-container">
  <h1><%= @historical_figure.name %></h1>
  <p><%= @historical_figure.bio %></p>
  <%= image_tag @historical_figure.image_url, alt: @historical_figure.name, class: 'main-figure-image' %>
</div>

<div class="figure-details">
  <div class="carousel-container">
    <% Race.car_types.keys.each do |car_type| %>
      <div class="carousel-slide">
        <h3><%= car_type.titleize %></h3>
        <%= image_tag "#{car_type}.jpg", alt: car_type.titleize %>
      </div>
    <% end %>
  </div>

  <div class="car-selection">
    <%= simple_form_for [@historical_figure, @race], local: true do |form| %>
      <%= form.input :car_type, collection: Race.car_types.keys.map { |car_type| [car_type.titleize, car_type] }, label_method: :first, value_method: :second, input_html: { class: 'dropdown' } %>
      <%= form.input :location_enum, collection: Race.location_enums.keys.map { |location_enum| [location_enum.titleize, location_enum] }, label_method: :first, value_method: :second, input_html: { class: 'dropdown' } %>
      <%= form.button :submit, "Confirm Selection" %>
    <% end %>
  </div>
</div>
