<div class="container">
  <h1 class="race-show-recap-title">Here is your team!</h1>
  <div class="team-container row">
  <div class="historical-figure-race-container col-12 col-md-6">
    <h3><%= @historical_figure.name %></h3>
    <p><%= @historical_figure.bio %></p>
    <%= image_tag @historical_figure.image_url, alt: @historical_figure.name, class: 'main-figure-image-race' %>
  </div>

  <div class="car-type-race-container col-12 col-md-6">
    <h3><%= @car_type.titleize %></h3>
    <%= image_tag "#{@car_type}.jpg", alt: @car_type.titleize, class: "car-race-image" %>
  </div>
  </div>


  <div class="start-race-button-container">
   <%= link_to "Start your engine!", result_path, class: "btn-custom" %>
  </div>

  <h3 class="map-title">Your race is going to be here:</h3>
  <div class="map" style="width: 100%; height: 400px;"
    data-controller="map"
    data-map-geolocation-hash-value="<%= @geolocation_hash.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
