<div class="container race-page-container">
  <h1 class="race-show-recap-title mt-5">Your race recap</h1>
    <div class="race-container">
      <div class="team-card">
        <h2 class="team-title">Your team is <%= @historical_figure.name %> Driving a <%= @car_type.titleize %>! </h2>
          <div class="team-container-small">
            <div class="historical-figure-race-container">
              <div class="race-picture-box">
                <%= image_tag @historical_figure.image_url, alt: @historical_figure.name, class: 'main-figure-image-race' %>
              </div>
            </div>

            <div class="car-type-race-container">
              <div class="race-car-box">
                <%= image_tag "#{@car_type}.jpg", alt: @car_type.titleize, class: "car-race-image" %>
              </div>
            </div>
          </div>
      </div>

      <div class="map-race-container ">
        <h3 class="map-title">Your race is going to be here:</h3>
        <div class="map" style="width: 100%; height: 400px;"
          data-controller="map"
          data-map-geolocation-hash-value="<%= @geolocation_hash.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
  </div>

<div data-controller="audio">
  <%= link_to "Start your engine!", result_path,
  id: "button",
  data_audio_target: "button",
  class: "btn-custom start-engine-button",
  id: "start-engine-button" %>
</div>
</div>

<audio id="engine-sound" class="audio" src="<%= asset_path('win_sound.mp3') %>" preload="auto"></audio>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var startButton = document.querySelector('.start-engine-button');
    var engineSound = document.getElementById('engine-sound');

    startButton.addEventListener('click', function(e) {
      e.preventDefault();
      engineSound.play();

      setTimeout(function() {
        window.location.href = startButton.getAttribute('href');
      }, 3500);
    });
  });
</script>
